.banner{
    width: 100vw;
    height: 100vh;
    position: relative;
    &::after{
        content: '';
        background-color: muted(.4);
        position: absolute;
        width: 100vw;
        height: 100vh;
    }
}