


@media(min-width: 35em){
    .banner-wrapper{
        position: relative;
    }
    .bannertitle{
        max-width: 90rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-40%);
        z-index: 3;
        line-height: 5vw;
        h1{
          
            font-size: 5.5vw;
            font-weight: 900;
            color: white;
        }
        h4{
            font-size: 1.4vw;
            color: white;
        }
    
    }
}

@media(max-width: 35em){
    .bannertitle{
        line-height: 3.6rem;
        width: 100%;
        padding: 3em;
        h1{
            font-size: 3.5rem;
            font-weight: 900;
            color: white;
        }
        h4{
            font-size: 1.4rem;
            color: white;
        }
   
        position: absolute;
        top: 35rem;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 3;
    
    }  
}