.faq{
    h3{
        font-size: 1.8rem;
    }
    div{
        font-size: 1.6rem;
        color: muted();
    }
    ul{
        list-style-type:disc;
        padding-left: 1.4rem;
    }
    margin-bottom: 2em;
}