
@media(min-width: 35em){

    .footer-wrapper{
        line-height: 1.7rem!important;
        padding-block: 1.8em;
        padding-inline: 3em;
        background-color: #282c4f;
        color: white;
        position: relative;
        .about-box{
            a{
                background-color: danger();
                padding: 1em;
            }
        }

        .fa{
            width: 3rem; 
            height: 3rem;
            border: solid .1rem warning();
            border-radius: 50%;
            padding: .3em;
            color: warning();
            display: flex;
            align-items: center;
            justify-content: center;

        }

        h4{
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 1em;
        }
        a{
            color: #efefef;
            font-size: 1.4rem!important;
            line-height: 2vw;
        }
        p{
            color: #efefef;
            font-size: 1.4rem;
            line-height: 2vw;
        }

        ul{
            li{
                position: relative;
                a{
                    padding-left: 2em;
                }
                a::before{
                    content: '^';
                    position: absolute;
                    transform: rotate(90deg);
                    font-size: 1.6rem;
                    top: 9%;
                    left: 0;
                  
                }
            }
        }
    }

    footer{
        font-size: 1.6rem;
        padding-block: 1em;
        padding-inline: 3em;
    }

}








@media(max-width: 35em){
    .footer-wrapper{
        line-height: 1.7rem!important;
        padding-block: 1.8em;
        padding-inline: 3em;
        background-color: #282c4f;
        color: white;
        position: relative;
        .about-box{
            a{
                background-color: danger();
                padding: 1em;
                display: block;
                margin-top: 2em;
                width: 11rem;
            }
        }
        

        .fa{
            width: 3rem; 
            height: 3rem;
            border: solid .1rem warning();
            border-radius: 50%;
            padding: .3em;
            color: warning();
            display: flex;
            align-items: center;
            justify-content: center;

        }

        h4{
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 1em;
        }
        a{
            color: #efefef;
            font-size: 1rem!important;
        }
        p{
            color: #efefef;
            font-size: 1.2rem;
        }

        ul{
            li{
                position: relative;
                a{
                    padding-left: 2em;
                }
                a::before{
                    content: '^';
                    position: absolute;
                    transform: rotate(90deg);
                    font-size: 1rem;
                    top: 9%;
                    left: 0;
                  
                }
            }
        }
    }

    footer{
        font-size: 1.2rem;
        padding-block: 1em;
        padding-inline: 3em;
    }

  
}