.headeer-title{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    z-index: 5;
    background-color: yellow;
    line-height: 6rem;
    a{
        display: block;
        background-color: danger();
        font-size: 1.2rem;
        color: white();
        padding: .4em!important;
        height: 3rem;
        width: 15rem;
        border-radius: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1{
        font-size: 5.2rem;
        font-weight: 900!important;
        
    }
    p{
        color: white;
        font-size: 1.2rem;
        margin: 0;
    }
    .divider{
        border-bottom: solid danger() .5rem;
        margin-left: 0;
        margin-top: 1em;
        width: 6rem;
    }
}