.quote{
    .fa-quote-left{
        font-size: 3rem;
        color: danger();
    }
    font-size: 1.2rem;
    padding: 1.3em;
    color: muted();
    article{
        margin-block: 1em;
    }
    box-shadow: 0 0 .5rem .2rem muted(.2);
    border-radius: 2rem;
}






